# Configuration de la Base de Données
# REMPLIR CES VALEURS DANS RENDER (Environment Variables), NE PAS LES METTRE EN CLAIR ICI.

DB_HOST=adresse_de_la_bdd_sur_render
DB_PORT=3306
DB_NAME=nom_de_la_bdd
DB_USER=nom_utilisateur
DB_PASSWORD=mot_de_passe_securise
